# Exploring the Data

### This is using Austing data. Looks like inside aribnb data is same format so it can be used for other cities
### ------------------

In [15]:
import numpy as np;
import pandas as pd;
import matplotlib;
import matplotlib.pyplot as plt;
import seaborn as sns;

In [38]:
#listing for 702825
listings = pd.read_csv('data/austin-airbnb/listings.csv')
listings[listings.id == 702825]

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
301,702825,https://www.airbnb.com/rooms/702825,20200219033646,2020-02-19,"MOD CASA 78704, close to DOWNTOWN",3 bedrooms connected by open loft-like space.....,STR Type II Your fee includes the 11% Short Te...,3 bedrooms connected by open loft-like space.....,none,Dawson hood. Perfect 78704 location to be arou...,...,t,f,strict_14_with_grace_period,t,t,1,1,0,0,1.97

In [56]:
#get all columns
listings.columns.values.tolist()

['id',
 'listing_url',
 'scrape_id',
 'last_scraped',
 'name',
 'summary',
 'space',
 'description',
 'experiences_offered',
 'neighborhood_overview',
 'notes',
 'transit',
 'access',
 'interaction',
 'house_rules',
 'thumbnail_url',
 'medium_url',
 'picture_url',
 'xl_picture_url',
 'host_id',
 'host_url',
 'host_name',
 'host_since',
 'host_location',
 'host_about',
 'host_response_time',
 'host_response_rate',
 'host_acceptance_rate',
 'host_is_superhost',
 'host_thumbnail_url',
 'host_picture_url',
 'host_neighbourhood',
 'host_listings_count',
 'host_total_listings_count',
 'host_verifications',
 'host_has_profile_pic',
 'host_identity_verified',
 'street',
 'neighbourhood',
 'neighbourhood_cleansed',
 'neighbourhood_group_cleansed',
 'city',
 'state',
 'zipcode',
 'market',
 'smart_location',
 'country_code',
 'country',
 'latitude',
 'longitude',
 'is_location_exact',
 'property_type',
 'room_type',
 'accommodates',
 'bathrooms',
 'bedrooms',
 'beds',
 'bed_type',
 'amenities',
 'square_feet',
 'price',
 'weekly_price',
 'monthly_price',
 'security_deposit',
 'cleaning_fee',
 'guests_included',
 'extra_people',
 'minimum_nights',
 'maximum_nights',
 'minimum_minimum_nights',
 'maximum_minimum_nights',
 'minimum_maximum_nights',
 'maximum_maximum_nights',
 'minimum_nights_avg_ntm',
 'maximum_nights_avg_ntm',
 'calendar_updated',
 'has_availability',
 'availability_30',
 'availability_60',
 'availability_90',
 'availability_365',
 'calendar_last_scraped',
 'number_of_reviews',
 'number_of_reviews_ltm',
 'first_review',
 'last_review',
 'review_scores_rating',
 'review_scores_accuracy',
 'review_scores_cleanliness',
 'review_scores_checkin',
 'review_scores_communication',
 'review_scores_location',
 'review_scores_value',
 'requires_license',
 'license',
 'jurisdiction_names',
 'instant_bookable',
 'is_business_travel_ready',
 'cancellation_policy',
 'require_guest_profile_picture',
 'require_guest_phone_verification',
 'calculated_host_listings_count',
 'calculated_host_listings_count_entire_homes',
 'calculated_host_listings_count_private_rooms',
 'calculated_host_listings_count_shared_rooms',
 'reviews_per_month']

In [58]:
#look at column value
listings[['property_type', 'accommodates']][listings.id == 702825]

    property_type  accommodates
301         House             7

In [33]:
#availability for 702825?
calendar = pd.read_csv('data/austin-airbnb/calendar.csv')
calendar[calendar.listing_id == 702825].head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,702825,2020-02-19,f,$260.00,$260.00,3,120
1,702825,2020-02-20,f,$260.00,$260.00,3,120
2,702825,2020-02-21,f,$275.00,$275.00,3,120
3,702825,2020-02-22,f,$275.00,$275.00,3,120
4,702825,2020-02-23,f,$260.00,$260.00,3,120

In [34]:
#review for 702825, comments doesn't indicate postive or negative
reviews =  pd.read_csv('data/austin-airbnb/reviews.csv')
reviews[reviews.listing_id == 702825].head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
29272,702825,3400312,2013-01-23,4168467,Edward,We had a longer-term stay at Larry's place.\r\...
29273,702825,3780244,2013-03-14,2102026,Lorena,"Larrys home was spacious and beautiful, with a..."
29274,702825,4379954,2013-05-01,4591113,Alex,We had a lovely (Email hidden by Airbnb) munic...
29275,702825,5605942,2013-07-08,6531262,Joseph,"A very nice, modern, and spacious home located..."
29276,702825,6078576,2013-07-29,1972287,Trish,Larry was a fabulous host. He left lots of goo...

In [50]:
#data shape
'listings: ' + str(listings.shape)

'listings: (11520, 106)'

In [51]:
'calendar' + str(calendar.shape)

'calendar(4204800, 7)'

In [53]:
'reviews' + str(reviews.shape)

'reviews(359504, 6)'